.Rproj.user
.Rhistory
.RData
.Ruserdata
PanCancer_study/data_PanCancer/1_original_data_PanCancer.zip
PanCancer_study/data_PanCancer/2_interim_data/*.csv
PanCancer_study/data_PanCancer/3_data_for_plots/*.csv
PanCancer_study/sessionInfo.txt
PanCancer_study/msstats*.log
InterLab_study/data_InterLab/1_original_data_InterLab.zip
InterLab_study/data_InterLab/1_original_data/all_sites_global_q_0.01_applied_to_local_global.txt
InterLab_study/data_InterLab/2_interim_data/*.csv
InterLab_study/data_InterLab/2_interim_data/*.tsv
InterLab_study/data_InterLab/3_data_for_plots/*.csv
AgingMice_study/data_AgingMice/1_original_data_AgingMice.zip
AgingMice_study/data_AgingMice/2_interim_data/*.csv
AgingMice_study/data_AgingMice/3_data_for_plots/*.csv
AgingMice_study/plots_AgingMice/interim_data_for_plots/*.csv
AgingMice_study/data_AgingMice/1_original_data/E1801171630_feature_alignment_requant.tsv
__MACOSX
*.out
*.pdf
*.png
*.jpg
*.rds
*.rda
*.eps*

