*.Rproj.user*
*.Rhistory
*.RData
*.rds
*.Ruserdata
*.Rproj*
.DS_Store


*.log
*.ppt*

*.zip
*.csv
*.tsv
*.txt
*.out

*.pdf
*.png
*.jpg
*.rds
*.rda
*.eps*
*.svg
.Rproj.user
PanCancer_study/msstats*.log
